SWNegocioMovil/SWNegocioMovil/App_WebReferences/SWDatos/SWDatosAquacorp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.swdatosaquacorp.somee.com/SWDatosAquacorp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Insertar_Ubicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eUbicacionSimple" nillable="true" type="q1:EUbicacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_UbicacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_UbicacionDistribuidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eUbicacionSimple" nillable="true" type="q2:EUbicacionDistribuidorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_UbicacionDistribuidorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UbicacionDistribuidor_IdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UbicacionDistribuidor_IdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_UbicacionDistribuidor_IdUsuarioResult" nillable="true" type="q3:EUbicacionDistribuidorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Provision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProvisionSimple" nillable="true" type="q4:EProvisionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ProvisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Provision_IdProvision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProvision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Provision_IdProvisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Provision_IdProvisionResult" nillable="true" type="q5:EProvisionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Provision">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ProvisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ProvisionResult" nillable="true" type="q6:ArrayOfEProvisionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Exception">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eExceptionSimple" nillable="true" type="q7:EExceptionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Exception_Id_Exception">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdException" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Exception_Id_ExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Exception_Id_ExceptionResult" nillable="true" type="q8:EExceptionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Exception">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ExceptionResult" nillable="true" type="q9:ArrayOfEExceptionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Gasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGastoSimple" nillable="true" type="q10:EGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GastoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Gasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGastoSimple" nillable="true" type="q11:EGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GastoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Gasto_Id_Gasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdGasto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Gasto_Id_GastoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Gasto_Id_GastoResult" nillable="true" type="q12:EGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Gasto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GastoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GastoResult" nillable="true" type="q13:ArrayOfEGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_Gasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_GastoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Arqueo_GastoResult" nillable="true" type="q14:ArrayOfEArqueoGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_TipoGasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eTipoGastoSimple" nillable="true" type="q15:ETipoGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_TipoGastoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_TipoGasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eTipoGastoSimple" nillable="true" type="q16:ETipoGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_TipoGastoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoGasto_Id_TipoGasto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoGasto" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoGasto_Id_TipoGastoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_TipoGasto_Id_TipoGastoResult" nillable="true" type="q17:ETipoGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoGasto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoGastoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_TipoGastoResult" nillable="true" type="q18:ArrayOfETipoGastoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoSimple" nillable="true" type="q19:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_MovimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoSimple" nillable="true" type="q20:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_MovimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_Id_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_Id_MovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Movimiento_Id_MovimientoResult" nillable="true" type="q21:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_MovimientoResult" nillable="true" type="q22:ArrayOfEMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_Codigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_CodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Movimiento_CodigoResult" nillable="true" type="q23:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoMovimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_MovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_MovimientoResult" nillable="true" type="q24:ArrayOfERepMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoMovimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_MovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Arqueo_MovimientoResult" nillable="true" type="q25:ArrayOfEArqueoMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_Retorno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_RetornoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Arqueo_RetornoResult" nillable="true" type="q26:ArrayOfEArqueoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_O_Pedido_IdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Movimiento_O_Pedido_IdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Movimiento_O_Pedido_IdUsuarioResult" nillable="true" type="q27:ArrayOfEMovimientoPedidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_ConFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoSimple" nillable="true" type="q28:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_ConFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_SinFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoSimple" nillable="true" type="q29:EMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_SinFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DetalleMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eDetalleMovimientoSimple" nillable="true" type="q30:EDetalleMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DetalleMovimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_DetalleMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoSimple" nillable="true" type="q31:EDetalleMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_DetalleMovimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimiento_Id_Movimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimiento_Id_MovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_DetalleMovimiento_Id_MovimientoResult" nillable="true" type="q32:EDetalleMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimiento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_DetalleMovimientoResult" nillable="true" type="q33:ArrayOfEDetalleMovimientoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_Cancelado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMovimientoCanceladoSimple" nillable="true" type="q34:EMovimientoCanceladoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Movimiento_CanceladoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimiento_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DetalleMovimiento_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_DetalleMovimiento_PedidoResult" nillable="true" type="q35:ArrayOfEDetalleMovimientoPedidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProductoSimple" nillable="true" type="q36:EProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProductoSimple" nillable="true" type="q37:EProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_Id_Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_Id_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Producto_Id_ProductoResult" nillable="true" type="q38:EProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ProductoResult" nillable="true" type="q39:ArrayOfEProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_SinFoto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_SinFotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Producto_SinFotoResult" nillable="true" type="q40:ArrayOfEProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_Mobil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Producto_MobilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Producto_MobilResult" nillable="true" type="q41:ArrayOfEProductoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PrecioSugerido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePrecioSugeridoSimple" nillable="true" type="q42:EPrecioSugeridoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PrecioSugeridoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PrecioSugerido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePrecioSugeridoSimple" nillable="true" type="q43:EPrecioSugeridoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PrecioSugeridoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PrecioSugerido_Id_PrecioSugerido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPrecioSugerido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PrecioSugerido_Id_PrecioSugeridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PrecioSugerido_Id_PrecioSugeridoResult" nillable="true" type="q44:EPrecioSugeridoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PrecioSugerido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PrecioSugeridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PrecioSugeridoResult" nillable="true" type="q45:ArrayOfEPrecioSugeridoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ControlSanitario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eControlSanitarioSimple" nillable="true" type="q46:EControlSanitarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ControlSanitarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ControlSanitario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eControlSanitarioSimple" nillable="true" type="q47:EControlSanitarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ControlSanitarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitario_Id_ControlSanitario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdControlSanitario" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitario_Id_ControlSanitarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ControlSanitario_Id_ControlSanitarioResult" nillable="true" type="q48:EControlSanitarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ControlSanitarioResult" nillable="true" type="q49:ArrayOfEControlSanitarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitario_Reporte_Fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlSanitario_Reporte_FechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ControlSanitario_Reporte_FechaResult" nillable="true" type="q50:ArrayOfERepControlSanitarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Calificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCalificacionSimple" nillable="true" type="q51:ECalificacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CalificacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Calificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCalificacionSimple" nillable="true" type="q52:ECalificacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CalificacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Calificacion_Id_Calificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCalificacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Calificacion_Id_CalificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Calificacion_Id_CalificacionResult" nillable="true" type="q53:ECalificacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Calificacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CalificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CalificacionResult" nillable="true" type="q54:ArrayOfECalificacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Existencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eExistenciaSimple" nillable="true" type="q55:EExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Existencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eExistenciaSimple" nillable="true" type="q56:EExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Existencia_Id_Existencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExistencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Existencia_Id_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Existencia_Id_ExistenciaResult" nillable="true" type="q57:EExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Existencia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ExistenciaResult" nillable="true" type="q58:ArrayOfEExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Existencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
        <xs:element minOccurs="0" name="tipoExistencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_ExistenciaResult" nillable="true" type="q59:ArrayOfERepExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Existencia_Nuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
        <xs:element minOccurs="0" name="tipoExistencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Existencia_NuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_Existencia_NuevoResult" nillable="true" type="q60:ArrayOfERepExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_Existencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoExistencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_ExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Arqueo_ExistenciaResult" nillable="true" type="q61:ArrayOfEArqueoExistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePagoSimple" nillable="true" type="q62:EPagoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PagoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePagoSimple" nillable="true" type="q63:EPagoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PagoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Pago_Id_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPago" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Pago_Id_PagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Pago_Id_PagoResult" nillable="true" type="q64:EPagoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Pago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PagoResult" nillable="true" type="q65:ArrayOfEPagoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Deuda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_DeudaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_DeudaResult" nillable="true" type="q66:ArrayOfERepDeudasSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arqueo_PagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Arqueo_PagoResult" nillable="true" type="q67:ArrayOfEArqueoPagoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eSaldoSimple" nillable="true" type="q68:ESaldoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_SaldoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eSaldoSimple" nillable="true" type="q69:ESaldoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_SaldoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Saldo_Id_Saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSaldo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Saldo_Id_SaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Saldo_Id_SaldoResult" nillable="true" type="q70:ESaldoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Saldo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_SaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_SaldoResult" nillable="true" type="q71:ArrayOfESaldoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_SaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_SaldoResult" nillable="true" type="q72:ArrayOfERepSaldoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Articulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eArticuloSimple" nillable="true" type="q73:EArticuloSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Articulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eArticuloSimple" nillable="true" type="q74:EArticuloSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Articulo_Id_Articulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdArticulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Articulo_Id_ArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Articulo_Id_ArticuloResult" nillable="true" type="q75:EArticuloSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Articulo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ArticuloResult" nillable="true" type="q76:ArrayOfEArticuloSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Categoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCategoriaSimple" nillable="true" type="q77:ECategoriaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Categoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCategoriaSimple" nillable="true" type="q78:ECategoriaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Categoria_Id_Categoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCategoria" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Categoria_Id_CategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Categoria_Id_CategoriaResult" nillable="true" type="q79:ECategoriaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Categoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CategoriaResult" nillable="true" type="q80:ArrayOfECategoriaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Arqueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eArqueoSimple" nillable="true" type="q81:EArqueoTSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ArqueoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Arqueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eArqueoSimple" nillable="true" type="q82:EArqueoTSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ArqueoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Arqueo_Id_Arqueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdArqueo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Arqueo_Id_ArqueoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Arqueo_Id_ArqueoResult" nillable="true" type="q83:EArqueoTSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Arqueo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ArqueoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ArqueoResult" nillable="true" type="q84:ArrayOfEArqueoTSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Arqueo_Fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Arqueo_FechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Arqueo_FechaResult" nillable="true" type="q85:ArrayOfEArqueoTSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Asistencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_AsistenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_AsistenciasResult" nillable="true" type="q86:ArrayOfERepAsistenciaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Cliente_Zona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idZona" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Cliente_ZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_Cliente_ZonaResult" nillable="true" type="q87:ArrayOfERepClientesZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Cliente_Categoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoria" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_Cliente_CategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Reporte_Cliente_CategoriaResult" nillable="true" type="q88:ArrayOfERepClientesCategoriaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePersonaSimple" nillable="true" type="q89:EPersonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePersonaSimple" nillable="true" type="q90:EPersonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_Id_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_Id_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Persona_Id_PersonaResult" nillable="true" type="q91:EPersonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PersonaResult" nillable="true" type="q92:ArrayOfEPersonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ultimo_Id_Empleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ultimo_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Ultimo_Id_EmpleadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ultimo_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ultimo_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Ultimo_IdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCargoSimple" nillable="true" type="q93:ECargoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eTCargoSimple" nillable="true" type="q94:ECargoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cargo_Id_Cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCargo" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cargo_Id_CargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Cargo_Id_CargoResult" nillable="true" type="q95:ECargoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cargo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CargoResult" nillable="true" type="q96:ArrayOfECargoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eUsuarioSimple" nillable="true" type="q97:EUsuarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eUsuarioSimple" nillable="true" type="q98:EUsuarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Usuario_Id_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Usuario_Id_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Usuario_Id_UsuarioResult" nillable="true" type="q99:EUsuarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Usuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_UsuarioResult" nillable="true" type="q100:ArrayOfEUsuarioSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ciudad_Id_Ciudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCiudad" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ciudad_Id_CiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Ciudad_Id_CiudadResult" nillable="true" type="q101:ECiudadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Ciudad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CiudadResult" nillable="true" type="q102:ArrayOfECiudadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eEmpleadoSimple" nillable="true" type="q103:EEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eEmpleadoSimple" nillable="true" type="q104:EEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Empleado_Id_EmpleadoResult" nillable="true" type="q105:EEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_EmpleadoResult" nillable="true" type="q106:ArrayOfEEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_Buscador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_BuscadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Empleado_BuscadorResult" nillable="true" type="q107:ArrayOfEEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ReferenciaPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eReferenciaPersonalSimple" nillable="true" type="q108:EReferenciaPersonalSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ReferenciaPersonalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ReferenciaPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eReferenciaPersonalSimple" nillable="true" type="q109:EReferenciaPersonalSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ReferenciaPersonalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaPersonal_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaPersonal_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ReferenciaPersonal_Id_EmpleadoResult" nillable="true" type="q110:EReferenciaPersonalSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaPersonal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaPersonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ReferenciaPersonalResult" nillable="true" type="q111:ArrayOfEReferenciaPersonalSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ReferenciaLaboral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eReferenciaLaboralSimple" nillable="true" type="q112:EReferenciaLaboralSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ReferenciaLaboralResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ReferenciaLaboral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eReferenciaLaboralSimple" nillable="true" type="q113:EReferenciaLaboralSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ReferenciaLaboralResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaLaboral_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaLaboral_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ReferenciaLaboral_Id_EmpleadoResult" nillable="true" type="q114:EReferenciaLaboralSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaLaboral">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ReferenciaLaboralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ReferenciaLaboralResult" nillable="true" type="q115:ArrayOfEReferenciaLaboralSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Conyugue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eConyugueSimple" nillable="true" type="q116:EConyugueSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ConyugueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Conyugue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eConyugueSimple" nillable="true" type="q117:EConyugueSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ConyugueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Conyugue_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Conyugue_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Conyugue_Id_EmpleadoResult" nillable="true" type="q118:EConyugueSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Conyugue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ConyugueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ConyugueResult" nillable="true" type="q119:ArrayOfEConyugueSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Despido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eDespidoSimple" nillable="true" type="q120:EDespidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_DespidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Despido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eDespidoSimple" nillable="true" type="q121:EDespidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_DespidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Despido_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Despido_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Despido_Id_EmpleadoResult" nillable="true" type="q122:EDespidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Despido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_DespidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_DespidoResult" nillable="true" type="q123:ArrayOfEDespidoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Habilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eHabilidadSimple" nillable="true" type="q124:EHabilidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_HabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Habilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eHabilidadSimple" nillable="true" type="q125:EHabilidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_HabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Habilidad_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Habilidad_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Habilidad_Id_EmpleadoResult" nillable="true" type="q126:EHabilidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Habilidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_HabilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_HabilidadResult" nillable="true" type="q127:ArrayOfEHabilidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Proveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProveedorSimple" nillable="true" type="q128:EProveedorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Proveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProveedorSimple" nillable="true" type="q129:EProveedorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Proveedor_Id_Proveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Proveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Proveedor_Id_ProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Proveedor_Id_ProveedorResult" nillable="true" type="q130:EProveedorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Proveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ProveedorResult" nillable="true" type="q131:ArrayOfEProveedorSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMaterialSimple" nillable="true" type="q132:EMaterialSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_MaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMaterialSimple" nillable="true" type="q133:EMaterialSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_MaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Material_IdMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMaterial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Material_IdMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Material_IdMaterialResult" nillable="true" type="q134:EMaterialSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Material">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_MaterialResult" nillable="true" type="q135:ArrayOfEMaterialSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eClienteSimple" nillable="true" type="q136:EClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eClienteSimple" nillable="true" type="q137:EClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cliente_Id_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cliente_Id_ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Cliente_Id_ClienteResult" nillable="true" type="q138:EClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ClienteResult" nillable="true" type="q139:ArrayOfEClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cliente_Buscador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cliente_BuscadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Cliente_BuscadorResult" nillable="true" type="q140:ArrayOfEClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Cliente_Corta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eClienteCortaSimple" nillable="true" type="q141:EClienteCortaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Cliente_CortaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CategoriaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCategoriaClienteSimple" nillable="true" type="q142:ECategoriaClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CategoriaClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CategoriaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eCategoriaClienteSimple" nillable="true" type="q143:ECategoriaClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CategoriaClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriaCliente_Id_CategoriaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCategoriaCliente" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriaCliente_Id_CategoriaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CategoriaCliente_Id_CategoriaClienteResult" nillable="true" type="q144:ECategoriaClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriaCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CategoriaClienteResult" nillable="true" type="q145:ArrayOfECategoriaClienteSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ControlEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eControlEntradaSimple" nillable="true" type="q146:EControlEntradaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ControlEntradaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ControlEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eControlEntradaSimple" nillable="true" type="q147:EControlEntradaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ControlEntradaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlEntrada_Id_ControlEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_ControlEntrada" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlEntrada_Id_ControlEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ControlEntrada_Id_ControlEntradaResult" nillable="true" type="q148:EControlEntradaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlEntrada">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ControlEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ControlEntradaResult" nillable="true" type="q149:ArrayOfEControlEntradaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Zona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eZonaSimple" nillable="true" type="q150:EZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Zona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eZonaSimple" nillable="true" type="q151:EZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Zona_Id_Zona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdZona" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Zona_Id_ZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Zona_Id_ZonaResult" nillable="true" type="q152:EZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Zona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ZonaResult" nillable="true" type="q153:ArrayOfEZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PuntoZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePuntoZonaSimple" nillable="true" type="q154:EPuntoZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_PuntoZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PuntoZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ePuntoZonaSimple" nillable="true" type="q155:EPuntoZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PuntoZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZona_Id_PuntoZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPuntoZona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZona_Id_PuntoZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PuntoZona_Id_PuntoZonaResult" nillable="true" type="q156:EPuntoZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PuntoZonaResult" nillable="true" type="q157:ArrayOfEPuntoZonaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZona_Puntos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PuntoZona_PuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PuntoZona_PuntosResult" nillable="true" type="q158:ArrayOfEPuntosSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Produccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProduccionSimple" nillable="true" type="q159:EProduccionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProduccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Produccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProduccionSimple" nillable="true" type="q160:EProduccionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ProduccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Produccion_IdProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProduccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Produccion_IdProduccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Produccion_IdProduccionResult" nillable="true" type="q161:EProduccionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Produccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ProduccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ProduccionResult" nillable="true" type="q162:ArrayOfEProduccionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_MateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMateriaPrimaSimple" nillable="true" type="q163:EMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_MateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_MateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eMateriaPrimaSimple" nillable="true" type="q164:EMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_MateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MateriaPrima_IdMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMateriaPrima" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MateriaPrima_IdMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_MateriaPrima_IdMateriaPrimaResult" nillable="true" type="q165:EMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MateriaPrima">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_MateriaPrimaResult" nillable="true" type="q166:ArrayOfEMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ExistenciaMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eExistenciaMateriaPrimaSimple" nillable="true" type="q167:EExistenciaMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ExistenciaMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ExistenciaMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eExistenciaMateriaPrimaSimple" nillable="true" type="q168:EExistenciaMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ExistenciaMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExistenciaMateriaPrima_IdExistenciaMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExistenciaMateriaPrima" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExistenciaMateriaPrima_IdExistenciaMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ExistenciaMateriaPrima_IdExistenciaMateriaPrimaResult" nillable="true" type="q169:EExistenciaMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExistenciaMateriaPrima">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ExistenciaMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_ExistenciaMateriaPrimaResult" nillable="true" type="q170:ArrayOfEExistenciaMateriaPrimaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Provision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eProvisionSimple" nillable="true" type="q171:EProvisionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProvisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>